<div id="header">
  <div id="title-and-status-toggle">
    <h1>Ketyere</h1>
    <mat-slide-toggle
      id="trading-lock-slider"
      color="primary"
      [checked]="isTradingEnabled"
      (change)="toggleGlobalTradingLock($event)"
      ><strong>{{
        isTradingEnabled ? "Bekapcsolva" : "Kikapcsolva"
      }}</strong></mat-slide-toggle
    >
  </div>
  <button
    id="refresh-data-button"
    mat-stroked-button
    color="primary"
    (click)="refreshData()"
  >
    Frissítés
  </button>
  <button id="logout-button" mat-stroked-button color="warn" (click)="logout()">
    Kijelentkezés
  </button>
</div>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Státusz">
    <div class="tab-contents">
      <div *ngIf="!loaded" class="loader-wrapper">
        <mat-spinner></mat-spinner>
      </div>

      <ng-container *ngIf="loaded">
        <div class="tables two-columns">
          <div id="balances">
            <h2>Egyenlegek</h2>
            <p *ngIf="!hasBalances">Jelenleg nincsen egyenlege.</p>
            <table *ngIf="hasBalances" mat-table [dataSource]="balances">
              <ng-container matColumnDef="asset">
                <th mat-header-cell *matHeaderCellDef>Coin</th>
                <td mat-cell *matCellDef="let balance">{{ balance.asset }}</td>
              </ng-container>
              <ng-container matColumnDef="free">
                <th mat-header-cell *matHeaderCellDef>Szabad</th>
                <td mat-cell *matCellDef="let balance">{{ balance.free }}</td>
              </ng-container>
              <ng-container matColumnDef="locked">
                <th mat-header-cell *matHeaderCellDef>Zárolt</th>
                <td mat-cell *matCellDef="let balance">{{ balance.locked }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="balancesColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: balancesColumns"></tr>
            </table>
          </div>

          <div id="open-orders">
            <h2>Nyitott eladási megbízások</h2>
            <p *ngIf="!hasOpenOrders">
              Jelenleg nincsen nyitott eladási megbízása.
            </p>
            <table *ngIf="hasOpenOrders" mat-table [dataSource]="openOrders">
              <ng-container matColumnDef="pair">
                <th mat-header-cell *matHeaderCellDef>Pár</th>
                <td mat-cell *matCellDef="let order">{{ order.symbol }}</td>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Mennyiség</th>
                <td mat-cell *matCellDef="let order">{{ order.quantity }}</td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Ár</th>
                <td mat-cell *matCellDef="let order">{{ order.price }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="openOrdersColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: openOrdersColumns"></tr>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab label="Beállítások">
    <div class="tab-contents">
      <div *ngIf="!loaded" class="loader-wrapper">
        <mat-spinner></mat-spinner>
      </div>

      <ng-container *ngIf="loaded">
        <div class="tables">
          <div id="batch-change">
            <h2>Több konfiguráció együttes módosítása vagy törlése</h2>

            <p *ngIf="!hasTradingConfigurations">
              Jelenleg nincsen egyetlen kereskedési konfigurációja sem.
            </p>

            <p>
              <button
                mat-stroked-button
                color="primary"
                (click)="modifySelectedTradingConfigurations()"
                [disabled]="!someTradingConfigurationsAreSelected()"
              >
                A kijelölt kereskedési konfigurációk módosítása
              </button>
              &nbsp;
              <button
                mat-stroked-button
                color="warn"
                (click)="confirmDeleteSelectedTradingConfigurations()"
                [disabled]="!someTradingConfigurationsAreSelected()"
              >
                A kijelölt kereskedési konfigurációk törlése
              </button>
            </p>
          </div>

          <div id="trading-configurations">
            <h2>Kereskedési konfigurációk</h2>

            <p *ngIf="!hasTradingConfigurations">
              Jelenleg nincsen egyetlen kereskedési konfigurációja sem.
            </p>

            <p>
              <button
                mat-stroked-button
                color="primary"
                (click)="addTradingConfiguration()"
              >
                Új kereskedési konfiguráció hozzáadása
              </button>
            </p>

            <table
              *ngIf="hasTradingConfigurations"
              mat-table
              [dataSource]="tradingConfigurations"
            >
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox
                    color="primary"
                    [checked]="allTradingConfigurationsAreSelected()"
                    [indeterminate]="
                      someTradingConfigurationsAreSelected() &&
                      !allTradingConfigurationsAreSelected()
                    "
                    (change)="toggleAllTradingConfigurationSelection($event)"
                  ></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let tradingConfiguration">
                  <mat-checkbox
                    color="primary"
                    [checked]="
                      isTradingConfigurationSelected(tradingConfiguration)
                    "
                    (change)="
                      toggleTradingConfigurationSelection(
                        $event,
                        tradingConfiguration
                      )
                    "
                  ></mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Státusz</th>
                <td mat-cell *matCellDef="let tradingConfiguration">
                  <mat-slide-toggle
                    class="trading-configuration-toggle-slider"
                    color="primary"
                    [checked]="tradingConfiguration.enabled"
                    (change)="
                      toggleTradingConfiguration($event, tradingConfiguration)
                    "
                  ></mat-slide-toggle>
                </td>
              </ng-container>

              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Kereskedési pár</th>
                <td mat-cell *matCellDef="let tradingConfiguration">
                  {{ tradingConfiguration.symbol }}
                </td>
              </ng-container>

              <ng-container matColumnDef="strategy">
                <th mat-header-cell *matHeaderCellDef>Stratégia</th>
                <td
                  mat-cell
                  *matCellDef="let tradingConfiguration"
                  id="strategy-description"
                >
                  <div class="strategy-description">
                    {{ tradingConfiguration.strategy.getFriendlyDescription() }}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="modify">
                <th mat-header-cell *matHeaderCellDef>Módosítás</th>
                <td mat-cell *matCellDef="let tradingConfiguration">
                  <button
                    mat-stroked-button
                    color="primary"
                    (click)="modifyTradingConfiguration(tradingConfiguration)"
                  >
                    Módosítás
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Törlés</th>
                <td mat-cell *matCellDef="let tradingConfiguration">
                  <button
                    mat-stroked-button
                    color="warn"
                    (click)="
                      confirmDeleteTradingConfigurations([
                        tradingConfiguration.symbol
                      ])
                    "
                  >
                    Törlés
                  </button>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="tradingConfigurationsColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: tradingConfigurationsColumns"
              ></tr>
            </table>
          </div>

          <div id="update-symbols">
            <h2>Kereskedési párok frissítése</h2>
            <p>
              Ha kereskedési konfiguráció hozzáadásakor nem látható egy
              Binance-en kereskedhető kereskedési pár, az alábbi gombbal
              frissíthető a Ketyere adatbázisa.
              <strong
                >Vigyázat: ez egy költséges művelet, túl gyakori frissítés a
                Ketyere leállásához vezethet.</strong
              >
            </p>
            <p>
              <button
                id="refresh-symbols"
                mat-stroked-button
                color="warn"
                (click)="refreshTradableSymbols(true, true)"
              >
                Kereskedési párok frissítése
              </button>
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab label="Eredmények">
    <p>Hamarosan…</p>
  </mat-tab>

  <mat-tab label="Hibalogok">
    <p>Hamarosan…</p>
  </mat-tab>
</mat-tab-group>
