@import "../../../styles/breakpoints.scss";

:host {
  display: block;
  padding: 20px;

  #header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    @include media-breakpoint-up-sm {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }

    #title-and-status-toggle {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      @include media-breakpoint-down-sm {
        margin-bottom: 15px;
      }

      h1 {
        margin: 0;
      }

      #trading-lock-slider {
        margin-left: 10px;
      }
    }

    button {
      &#refresh-data-button {
        min-width: 160px;
      }

      &:not(:last-child) {
        @include media-breakpoint-down-sm {
          margin-bottom: 10px;
        }
      }
    }
  }

  .tab-contents {
    width: 100%;
    padding-top: 20px;

    .loader-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;

      table {
        width: 100%;
      }
    }
  }
}
